@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$gray: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$red: #D50000;
$white: #ffffff;


$size-1: 3rem;

  // Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$text: $white;
$grey-dark: $white;
$grey-light: $beige-light;
$primary: $gray;
//$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: true;

//Nav bar attributes
$navbar-background-color: $red;
$navbar-height: 5.5rem;
$navbar-item-img-max-height: 6.0rem;

//box
$box-padding: 2rem;


// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";